body {
    font-family: monospace;
}
.trigger {
    width: 150px;
    height: 150px;
    border: 1px solid #000;
    list-style: none;
    border-radius: 2px;
    float: left;

    font-size: 150px;
    text-align: center;
    line-height: 100%;
    color: #FFF;
}

.active {
    background: orange;
}